{% extends "common.html" %}

{%block body%}
<a class="nav-link active" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btn" style="cursor: pointer;">
</a>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="header"><span id="signup" class="btn btn-danger m-4 "
            onclick="signupdisplay()">Signup</span>
          <span id="login" class="m-4 btn btn-alert" onclick="logindisplay()" style="cursor: pointer;">Login</span>

        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
      </div>
      <!-- -------------------------------------------------Signup Form------ -->
      <div class="modal-body" id="signupmodal">
        <form action="/signup" method="post">
          {%csrf_token%}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" required minlength="4" name="username" class="form-control" value="{{username}}">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email1" name="email" class="form-control" value="{{email1}}">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" minlength="6" id="password1" name="password" class="form-control" value="">
          </div>
          <div class="modal-footer justify-content-center">
            <input type="submit" value="Signup" class="btn btn-primary">
        </form>
      </div>
      <div class="text-center" id="invalid_credentials" style="color: red;">{{alert_signup}}</div>

    </div>
    <!--------------------- ----Login Form--------- -->

    <div class="modal-body" style="display: none; " id="loginmodal">
      <form action="/login" method="post">
        {%csrf_token%}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" required id="email2" name="email" class="form-control" value="{{email}}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" required id="password2" name="password" class="form-control">
        </div>
        <div class="form-group text-center mt-2"><span id="forgot_password" onclick="Reset_link()"
            style="cursor: pointer;">Forgot Password?</span></div>

        <div class="modal-footer justify-content-center">
          <input type="submit" value="Login" class="btn btn-primary">
        </div>
      </form>
      <div class="text-center" id="invalid_credentials" style="color: red;">{{alert_login}}</div>
    </div>

    <!-- ----------------------------------Reset Form -->
    <div class="modal-body" style="display: none;" id="reset_link">
      <form action="/reset_password" method="post">
        {%csrf_token%}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email3" class="form-control" name="email3" required value="{{email3}}">
        </div>
        <div class="modal-footer justify-content-center">
          <input type="submit" value="Reset Password" class="btn btn-primary">
        </div>
      </form>
      <div class="text-center" id="alert_for_reset_password" style="color: red;">{{alert_for_reset_password}}</div>

    </div>
    <!-- ---------------------------- -->

  </div>
</div>
</div>

<div id="{{check_email}}"></div>

{% load static %}
<script src="{% static 'js/index.js' %}"></script>   

{%endblock%}