{% extends "common.html" %}
<!-- Button trigger modal -->{% block signup%}
{% endblock %}

<!-- <a class="nav-link active" aria-current="page" href="#">Signnup</a> -->

{%block body%}
<a class="nav-link active" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btn" style="cursor: pointer;">
</a>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="header"><span id="signup" class="btn btn-danger m-4 "
            onclick="signupdisplay()">Signup</span>
          <span id="login" class="m-4 btn btn-alert" onclick="logindisplay()" style="cursor: pointer;">Login</span>

        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
      </div>
      <!-- -------------------------------------------------Signup Form------ -->
      <div class="modal-body" id="signupmodal">
        <form action="/signup" method="post">
          {%csrf_token%}
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" value="{{username}}">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email1" name="email" class="form-control" value="{{email1}}">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password1" name="password" class="form-control" value="">
          </div>
          <div class="modal-footer justify-content-center">
            <input type="submit" value="Signup" class="btn btn-primary">
        </form>
      </div>
      <div class="text-center" id="invalid_credentials" style="color: red;">{{alert_signup}}</div>

    </div>
    <!--------------------- ----Login Form--------- -->

    <div class="modal-body" style="display: none; " id="loginmodal">
      <form action="/login" method="post">
        {%csrf_token%}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email2" name="email" class="form-control" value="{{email}}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" required id="password2" name="password" class="form-control">
        </div>
        <div class="form-group text-center mt-2"><span id="forgot_password" onclick="Reset_link()"
            style="cursor: pointer;">Forgot Password?</span></div>

        <div class="modal-footer justify-content-center">
          <input type="submit" value="Login" class="btn btn-primary">
        </div>
      </form>
      <div class="text-center" id="invalid_credentials" style="color: red;">{{alert_login}}</div>
    </div>

    <!-- ----------------------------------Reset Form -->
    <div class="modal-body" style="display: none;" id="reset_link">
      <form action="/reset_password" method="post">
        {%csrf_token%}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email3" class="form-control" name="email3" required value="{{email3}}">
        </div>
        <div class="modal-footer justify-content-center">
          <input type="submit" value="Reset Password" class="btn btn-primary">
        </div>
      </form>
      <div class="text-center" id="alert_for_reset_password" style="color: red;">{{alert_for_reset_password}}</div>

    </div>
    <!-- ---------------------------- -->

  </div>
</div>
</div>

<div id="{{check_email}}"></div>


<!-- -------------Javascript ----- -->
<script>
  setTimeout(function () {
    document.getElementById("btn").click();
  }, 300);

  function logindisplay() {
    var loginmodal = document.getElementById("loginmodal")
    loginmodal.style.display = "block";
    var signupmodal = document.getElementById("signupmodal")
    signupmodal.style.display = "none";
    document.getElementById("signup").classList.remove("btn-danger");
    document.getElementById("login").classList.add("btn-danger");

  }
  function signupdisplay() {
    document.getElementById("signupmodal").style.display = "block";
    document.getElementById("loginmodal").style.display = "none";
    document.getElementById("signup").classList.add("btn-danger");
    document.getElementById("login").classList.remove("btn-danger");
  }
  function Reset_link() {
    var reset_link = document.getElementById("reset_link")
    reset_link.style.display = "block";
    loginmodal.style.display = "none";
    signupmodal.style.display = "none";
    document.getElementById("header").innerHTML = "Enter Registered Email for Reset link"
  }
  var email2 = document.getElementById("email2");
  if (email2.value != "") {
    loginmodal.style.display = "block";
    signupmodal.style.display = "none";
    reset_link.style.display = "none";
    document.getElementById("signup").classList.remove("btn-danger");
    document.getElementById("login").classList.add("btn-danger");
  }

  var email1 = document.getElementById("email1");
  if (email1.value != "") {
    loginmodal.style.display = "none";
    signupmodal.style.display = "block";
    reset_link.style.display = "none";
    document.getElementById("signup").classList.add("btn-danger");
    document.getElementById("login").classList.remove("btn-danger");
  }


  setTimeout(function () {
    document.getElementById("invalid_credentials").style.display = "none";
  }, 4000)

  var email3 = document.getElementById("email3").value;
  var reset_link = document.getElementById("reset_link");
  if (email3 != "") {
    loginmodal.style.display = "none";
    signupmodal.style.display = "none";
    reset_link.style.display = "block";
    document.getElementById("header").innerHTML = "Enter Registered Email for Reset link"
    setTimeout(function () {
      document.getElementById("alert_for_reset_password").style.display = "none";
    }, 4000)
  }

  var check_email = document.getElementById("check_email");
  if (check_email) {
    alert("Check your email to Reset your Password & come back to Login again")
  }
</script>
{%endblock%}