{% extends "common.html" %}
{%block title%}Profile{%endblock%}
{%block body%}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 mt-5 pt-5">
            <div class="row z-depth-3">
                <div class="col-sm-4 bg-info rounded-left">


                    <div class="card-block text-center text-white">
                        <br>

                        <div id="select" style="width: 150px; height: 150px; margin: auto;">
                            <img src="{{link}}" id="myimage" alt="" class="card-img-top" width="100%" height="100%">
                        </div>
                        <br>
                        <button type="button" id="upload" class="btn btn-danger"
                            style="display: none; margin: auto;">Upload</button>
                            <b> <label for="" id="upProgress" style="color: green;"></label> </b>

                        <!--                     rendering usernmae  and email of user -->
                        <h2 class="font-weight-bold mt-4">{{username|title}}</h2>
                        <p>{{email}}</p>
                    </div>
                </div>

                <div class="col-sm-8  bg-white rounded-right">

                    <h3 class="mt-3 text-center">User Profile</h3>
                    <hr class="bg-primary mt-0 w-25">
                    <!-- ---------editable update details when user wants to update-------------------------------------------------------------    -->
                    <form action="/profile" method="post" style="display: none;" id="save_form">
                        {%csrf_token%}
                        <div class="text-center mb-4">
                            <b>Date of Birth :</b> <input required type="date" id="dob" name="dob"
                                value="{{data_fetch.1}}">
                        </div>

                        <div class="text-center m-4"><b>Address:</b> <input maxlength="150" required type="text"
                                id="address" name="address" value="{{data_fetch.0}}"> </div>
                        <div class="text-center">

                            <input type="submit" value="Save" class="btn btn-primary" id="save_details"
                                onclick="save_data()">
                        </div>
                    </form>

                    <!-- ----rendering users and date of birth and address------------------------------------------------------------------------------ -->
                    <div id="show_profile" style="display: block;">
                        <div class="col-sm-6 m-4">
                            <p class="font-weight-bold"><b>Date of Birth</b></p>
                            <h6 class=" text-muted">{{data_fetch.1}}</h6>
                        </div>
                        <div class="col-sm-6 m-4">
                            <p class="font-weight-bold"><b>Address</b></p>
                            <h6 style="overflow-wrap: break-word;" class="text-muted">{{data_fetch.0}}
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<div class="container ">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 mt-4">
            <!-- update button to edit details -->
            <input type="submit" value="Update Details" id="update" onclick="update()" class="btn btn-primary"
                style="display: block;"> <br>
            <!-- <b> <label for="" id="upProgress" style="color: green;"></label> </b> -->
        </div>
    </div>
</div>
<!-- elements used just for passing data to server -->
<input type="hidden" id="hidden" value="{{data_fetch.1}}">
<input type="text" id="namebox" style="display: none;">
<img src="" id="myimage" alt="">

<!-- image upload form  -->
<form action="/upload_image" method="post" style="display: none;">
    {%csrf_token%}
    <input type="hidden" id="url" name="url">
    <input type="submit" id="postlink">
</form>

<!-- -------------------------------------------------javascript------------------------------------------------------------- -->
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
{% load static %}
<script src="{% static 'js/profiles.js' %}"></script>   

{%endblock%}